body {
  background-color: rgb(255,255,255);
  font-family: Nixie One, Garamond, serif;
  font-weight: 600;
  text-align: center;
  /*margin-left:0;
  margin-right:0;*/
  
  margin:0;
}

h1, h2 {
	font-family: Allura, "Lucida Handwriting",Cursive;
	color: #734d78 
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 48px;
}

td {
	text-align: left;
	margin: 10px;
	padding: 10px;
}

a {
	text-decoration:none;
}

.menubox {
	margin-left: 20px;
	margin-right: 20px;
	
	vertical-align: top;
	display: inline-block;
	text-align: left;
	width: 20%;
	min-width: 200px;
}

.starthidden {
	display: none;
}

.mainbody {
	/*margin-top: 5%;
	margin-bottom: 5%;*/
}

.left {
	
	left:0;
}

.right {
	right:0;
}

.map {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.bodyimage, .textboxoverimage {
	border-style: solid;
	border-width: 1vw;
	border-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	
	width: 55vh;
	max-width:50vw;
	height: 100%;
	
	position:absolute;
	top:0;
}

.bodyimage {
}


.textboxoverimage {
	background-color: rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	
}

.bodyimagecontainer {
	position: relative;
	width:60vw;
	max-width:66vh;
	height:55vh; /* if this changes, the width of .bodyimage and .textboxoverimage should change to the same amount */
	max-height:50vw;
	left: 50%;
	transform: translate(-50%, 0);
	/*margin-top: 5vw;
	margin-bottom: 5vw;*/
	
	margin-top: 5%;
	margin-bottom: 5%;
}

@keyframes expandBodyImageContainer {
	from {
		width:90vw;
		max-width:100vh;
	}
	to {
		width: 60vw;
		max-width:66vh;
	}
}

.contractbodyimagecontainerclass {
	animation-name: expandBodyImageContainer;
	animation-duration:0.5s;
	animation-iteration-count:1;
	animation-fill-mode: both;
}

.expandbodyimagecontainerclass {
	animation-name: expandBodyImageContainer;
	animation-duration:0.5s;
	animation-iteration-count:1;
	animation-direction:reverse;
	animation-fill-mode: both;
}

#showMapButton {
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translate(-50%, 0%);
	background-color:black;
	color:white;
	border-radius:50%;
	min-width:32px;
	min-height:32px;
	max-width: 64px;
	max-height: 64px;
	width:12vw;
	height:12vw;
	vertical-align:middle;
	z-index:999;
	cursor:pointer;
}

#showMapText, #hideMapText {
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: white;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: white;
	transition: transform 0.5s, opacity 0.5s;
}

#hideMapText {
	opacity:0;
	transform:translate(-50%,-50%) rotate(180deg);
}


.lefttextbox {
	transform: translate(-80%, -50%);
}

.righttextbox {
	transform: translate(-20%, -50%);
}


.textboxtext {
	position: absolute;
	top: 50%;
	left: 50%;
	/*transform: translate(-25%, -50%);*/
	color: black;

	max-width:45%;
	/* font size is set in main.js as it's resized based on parent element */
	/*border-style: solid;
	border-width: 1px;
	border-color: black;*/
}


.border {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.firstwhitesection, .whitesection, .greensection {
	/*margin-top: 2%;
	margin-bottom: 2%;*/
	min-height: 100vh;
	padding:1%;
}

.whitesection, .firstwhitesection {
	background-color: white;
	color: black;
	
}

.firstwhitesection {
	background-image: url('Images\\bottomTear.png'), url('Images\\papertexture2.png');
	background-repeat: no-repeat, repeat;
	background-position: bottom, 0% 0%;
	background-size: 100%, 100%;

}

.whitesection {
	background-image: url('Images\\topTear.png'), url('Images\\bottomTear.png'), url('Images\\papertexture2.png');
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: top, bottom, 0% 0%;
	background-size: 100%, 100%, 100%;
	padding-top: 100px;
}

.greensection {
	background-color: rgb(114,150,109);
	background-image: url('Images\\hexagons3.png'), url('Images\\hexagonsleft.png');
	background-repeat: repeat-y;
	background-position: right, left;
	background-size: 25%;
	color:white;
}

.greensection h1, .greensection h2 {
	color: white;
}