body {
	margin: 0;
	background-image: url('Images\\papertexture2.png');
}

h2 {
	color: rgb(50, 50, 50);
	font-family: Allura;
	font-size: 48px;
}

.header {
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 999;
	position: relative;
}

.title {
	font-family: Allura;
	color: rgb(255, 255, 255);/*#734d78;*/
	text-shadow: -2px -2px 2px rgb(0,0,0,0.2);
	position: absolute;
	top: 0%;
	font-size: min(8vw, 64px);
	font-weight: bold;
	transform: translate(0, -50%);
	
}

.date {
	text-align: center;
	margin: 0;
	color: white;
	font-family: Nixie One;
	font-weight: 600;
	padding-bottom: 2px;
}

.header, .headerItems, .date {
	background-color: rgb(114,150,109);
}

.headerImage {
	width: 100px;
	aspect-ratio: 1;
	border: solid white 3px;
	border-radius: 50%;
}

.stickyHeader {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 999;
}

.tear {
	background-image: url('Images\\topTear.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	width: 100%;
	aspect-ratio: 3000 / 169;
	z-index: 999;
	margin-top: -1px; /* make sure there isn't a gap between the tear and the header */
}

.headerItems {
	display: flex;
	justify-content: center;
}

.headerItem {
	display: inline-block;
	margin: 20px 20px;
	cursor: pointer;
	font-family: Nixie One;
	font-size: min(4vw, 36px);
	font-weight: 500;
	color: white;
	position: relative;
	text-align: center;
}

.headerItem p {
	margin: 2px;
}

.headerItem:hover {
	font-weight: 1000;
}

.headerItem[data-activepage="true"] {
	text-shadow: 0 0 4px white;
	transition: text-shadow 500ms;
	font-weight: 1000;
}

.headerItem[data-activepage="true"] .headerItemUnderline {
	width: 90%;
}

.headerItem:hover .headerItemUnderline {
	width: 100%;
}

.headerItemUnderline {
	width: 0;
	height: 2px;
	background-color: white;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	transition: width 250ms;
	border-radius: 1px;
	box-shadow: 0 0 4px white;
}

.pages {
	width: 100%;
	overflow: hidden;
}

.page {
	min-height: 100vh;
	/*display:none;*/
	font-family: Nixie One;
	font-weight: 600;
	text-align: center;
	
	
	animation-duration: 250ms;
	animation-iteration-count: 1;
	animation-fill-mode: both;
	animation-direction: forward;
	
}

.page[data-status="disappearingToRight"] {
	transform-origin: 90% 5%;
	animation-name: pageDisappearToRight;
}

.page[data-status="disappearingToLeft"] {
	transform-origin: 10% 5%;
	animation-name: pageDisappearToLeft;
}

.page[data-status="activeFromLeft"] {
	/*display: inherit;*/
	transform-origin: 50% 5%;
	animation-name: pageAppearFromLeft;
}

.page[data-status="activeFromRight"] {
	/*display: inherit;*/
	transform-origin: 50% 5%;
	animation-name: pageAppearFromRight;
}

.page[data-status="hidden"] {
	display: none;
}

.menubox {
	margin-left: 20px;
	margin-right: 20px;
	
	vertical-align: top;
	display: inline-block;
	text-align: left;
	width: 20%;
	min-width: 200px;
}

.eucalyptusImageContainer {
	position: relative;
}

.eucalyptusImage {
	max-width: 600px;
	width: 70%;
}

.eucalyptusImageContainer h2 {
	position: absolute;
	left: 50%;
	bottom: 0%;
	transform: translate(-50%, 0);
}

@keyframes pageAppearFromLeft {
	from {
		opacity: 0;
		transform: translate(-25%, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes pageAppearFromRight {
	from {
		opacity: 0;
		transform: translate(25%, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes pageDisappearToLeft {
	from {
		opacity: 1;
		transform: scale(1, 1);
	}
	to {
		opacity: 0;
		transform: scale(0.2, 1) skewY(5deg);
	}
}

@keyframes pageDisappearToRight {
	from {
		opacity: 1;
		transform: scale(1, 1);
	}
	to {
		opacity: 0;
		transform: scale(0.2, 1) skewY(-5deg);
	}
}