body {
  background-color: rgb(255,255,255);
  font-family: Rubik, Arial;
  text-align: center;
}

h1 {
	font-family: Allura, "Lucida Handwriting",Cursive;
	font-size: 64px;
	color: #887694 /* dusty purple */
}

h2 {
	font-family: Allura,"Lucida Handwriting",Cursive;
	font-size: 32px;
	color: #887694 /* dusty purple */
}

td {
	text-align: left;
	margin: 10px;
	padding: 10px;
}

p, ul {
	font-family: Garamond, serif;
}


.menubox {
	margin-left: 20px;
	margin-right: 20px;
	
	vertical-align: top;
	display: inline-block;
	text-align: left;
	width: 20%;
	min-width: 200px;
}

.starthidden {
	display: none;
}

.mainbody {
	margin: 5%;
}

.bodyimage {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 50%;
	width: 40vh;
	height: 100%;

	position:absolute;
	top:0;
}

.left {
	left:0;
}

.right {
	right:0;
}

.bodyimagecontainer {
	position: relative;
	width:80vw;
	max-width:70vh;
	height:40vh;
	left: 50%;
	transform: translate(-50%, 0);
	margin: 10px;
}

.map {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#showMapButton {
	position: absolute;
	bottom: 3px;
	left: 50%;
	transform: translate(-50%, 0%);
	background-color:black;
	color:white;
	border-radius:50%;
	min-width:10px;
	min-height:10px;
	max-width: 128px;
	max-height: 128px;
	width:12vw;
	height:12vw;
	vertical-align:middle;
	z-index:999;
	cursor:pointer;
}

#showMapText {
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: white;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: white;
}

.textboxoverimage {
	position:absolute;
	top:0;
	right:0;
	background-color: rgba(255, 255, 255, 0.75);
	top: 0px;
	border-radius: 16px;
	vertical-align: middle;
	
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 50%;
	width:40vh;
	height: 100%;
}

.textboxtext {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.border {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.bottomborder {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: black;
	margin: 2%;
	padding: 5%;
	min-height: 100vh;
}

.address {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 64px;
	vertical-align: middle;
	display: inline-block;
	padding: 40px;
	margin: 16px;
}

.venueimage {
	width: 100%;
}


.venueimagecontainer {
	position: relative;
	display: inline-block;
	width: 25%;
	min-width:160px;
}

.imagetext {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0%;
	font-size:1px;
}

.directions {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 32px;
	max-width:
}