body {
	margin: 0;
	background-image: url('Images\\papertexture2.png');
}

.header {
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 999;
	position: relative;
}

.title {
	font-family: Allura;
	color: #734d78;
	position: absolute;
	top: 0%;
	font-size: min(8vw, 64px);
	font-weight: bold;
	width: 100%;
	text-align: center;
	transform: translate(0, -50%);
}

.header, .headerItems {
	background-color: rgb(114,150,109);
}

.headerImage {
	width: 100px;
	border: solid white 3px;
	border-radius: 50%;
}

.stickyHeader {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 999;
}

.tear {
	background-image: url('Images\\topTear.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	width: 100%;
	aspect-ratio: 3000 / 169;
	z-index: 999;
}

.headerItems {
	display: flex;
	justify-content: center;
}

.headerItem {
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	font-family: Nixie One;
	font-size: min(3vw, 36px);
	font-weight: 500;
	color: white;
	position: relative;
}

.headerItem p {
	margin: 2px;
}

.headerItem:hover, .headerItem[data-activepage="true"] {
	font-weight: 1000;
}


.headerItem:hover .headerItemUnderline, .headerItem[data-activepage="true"] .headerItemUnderline {
	width: 100%;
}

.headerItemUnderline {
	width: 0;
	height: 2px;
	background-color: white;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	transition: width 200ms;
	border-radius: 1px;
}

.pages {
	width: 100%;
}

.page {
	border: solid red 1px;
	min-height: 100vh;
	display:none;
}

.page[data-activepage="true"] {
	display: inherit;
}